/** @format */

body {
	font-family: Arial, sans-serif;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;
	background: #e9e9e9;
}

.container {
	background: white;
	padding: 30px;
	border-radius: 10px;
	box-sizing: 0 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
	color: #333;
	text-align: center;
}

#todo-form {
	display: flex;
	margin-bottom: 20px;
}

#task-input {
	flex: 1;
	padding: 8px;
	font-size: 16px;
	border: 2px solid #ddd;
	border-radius: 5px;
}

button {
	padding: 8px;
	background: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background: #3f9243;
}

#task-list {
	list-style: none;
	border-radius: 5px;
	padding: 15px;
	border-left: 4px solid #4caf50;
}
